<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div align="center">
        <h1>
            <font face="Lato">Resume Maker</font>
        </h1>
        <h3>Login To Your Account</h3>
        <form><br><br><br>
            <label for="Uname">
                <font face="Lato"><B>Username:</B></font>
            </label>
            <input type="text" placeholder="Username"
                style="padding: 5px ;border: 2cm; border: 2px solid grey; border-radius: 25px;">
            <br><br>
            <font Face="Lato"><b>Password:</b></font>
            </label>
            <input type="password" placeholder="Password"
                style="padding: 5px ; transition: width 0.4s ease-in-out;border: 2px solid grey;border-radius: 25px">
            <br><br><br><br>
            <input type="submit"
                style="background-color: #4CAF50; border: none; color:white; padding: 10px 32px; text-decoration: double; margin: 4px 2px; cursor: pointer;border-radius: 25px">
        </form>
    </div>
</body>

</html>